<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<style>

.category_individual img{
    width:80%vh;
}

.category_individual h1{
    font-size:48px;
}

.indiv_info {
    display: flex;
    flex-direction: column;
}


</style>



<% for(let food of data) {%>
<div class='category_individual' >

    <div class="indiv_pic">
        <img src="<%= food.image %>">

    <div class='indiv_info'>
    <h1><%= food.title %></h1>
    <h3><%= food.servingsize %></h3>
    <h4><%= food.calories %></h4>

<a href="/categories/<%= food.healthlabels %>/<%= food.id %>">See Recipe</a>
</div>
    </div>
  <%}%>

</div>


<% include ../partials/end%>