<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<form method='POST' action='/categories/<%= recipe.healthlabels %>/<%= recipe.id %>?_method=PUT'>
    <input name='title' type='text' placeholder='<%= recipe.title %>' />
    <input name='servingsize' type='text' placeholder='<%= recipe.servingsize %>' />
    <input name='healthlabels' type='text' placeholder='<%= recipe.healthlabels %>' />
    <input name='ingredients' type='text' placeholder='<%= recipe.ingredients %>' />
    <input name='calories' type='text' placeholder='<%= recipe.calories %>' />
    <input name='url' type='text' placeholder='<%= recipe.url %>' />
    <input name='image' type='text' placeholder='<%= recipe.image %>' />
    <input type='submit' value ='Submit!' />
</form>


<% include ../partials/end %>

