<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<style>
    body.subCategories {
        background-image: url('<%= data.image %>');
        background-size:100% auto;
    }
</style>

<div class="rec_single">
    <h1><%= data.title %></h1>
    <h2> INGREDIENTS </h2>
    <h3><%= data.ingredients %></h3> 

    <a href="<%= data.url %>" target="blank">click here for directions</a>
    <form method='POST' action='/user/addRecipe/<%= data.id %>'>
         <input type='submit' value ='Save Recipe!' />
    </form>

</div>


<% include ../partials/end %>